In [1]:
from dysregnet import dysregnet

In [2]:
import pandas as pd

meta = pd.read_csv("../../PANCAN/clinical.csv")
case = pd.read_csv("../../PANCAN/BRCA/expr_case.csv" )
control = pd.read_csv("../../PANCAN/BRCA/expr_control.csv")
grn=pd.read_csv("../../olga_scripts/HTRIdb_data.csv", sep = ";")

In [3]:
grn = grn[["SYMBOL_TF","SYMBOL_TG"]]

In [4]:
expr=pd.concat([control,case])

In [5]:
i=list(expr.iloc[:,0])
meta=meta[ meta.iloc[:,0].isin(i)]

In [6]:
meta.sample_type.unique()

array(['Primary Tumor', 'Solid Tissue Normal', 'Metastatic'], dtype=object)

In [7]:
meta.sample_type=meta.sample_type.apply(lambda x: 0 if x=='Solid Tissue Normal' else 1)

In [8]:
meta.sample_type.unique()

array([1, 0])

In [9]:
CatCov=['race','gender']  
ConCov=['birth_days_to',]

In [10]:
meta["birth_days_to"] = meta["birth_days_to"].fillna(meta["birth_days_to"].mean())

In [11]:
meta.head(4)

,sample,_PATIENT,cancer type abbreviation,age_at_initial_pathologic_diagnosis,gender,race,ajcc_pathologic_tumor_stage,clinical_stage,histological_type,histological_grade,...,DSS,DSS.time,DFI,DFI.time,PFI,PFI.time,Redaction,sample_type_id,sample_type,_primary_disease
0,TCGA-3C-AAAU-01,TCGA-3C-AAAU,BRCA,55.0,FEMALE,WHITE,Stage X,NaN,Infiltrating Lobular Carcinoma,NaN,...,0.0,4047.0,1.0,1808.0,1.0,1808.0,NaN,1.0,1,breast invasive carcinoma
1,TCGA-3C-AALI-01,TCGA-3C-AALI,BRCA,50.0,FEMALE,BLACK OR AFRICAN AMERICAN,Stage IIB,NaN,Infiltrating Ductal Carcinoma,NaN,...,0.0,4005.0,0.0,4005.0,0.0,4005.0,NaN,1.0,1,breast invasive carcinoma
2,TCGA-3C-AALJ-01,TCGA-3C-AALJ,BRCA,62.0,FEMALE,BLACK OR AFRICAN AMERICAN,Stage IIB,NaN,Infiltrating Ductal Carcinoma,NaN,...,0.0,1474.0,0.0,1474.0,0.0,1474.0,NaN,1.0,1,breast invasive carcinoma
3,TCGA-3C-AALK-01,TCGA-3C-AALK,BRCA,52.0,FEMALE,BLACK OR AFRICAN AMERICAN,Stage IA,NaN,Infiltrating Ductal Carcinoma,NaN,...,0.0,1448.0,NaN,NaN,0.0,1448.0,NaN,1.0,1,breast invasive carcinoma

In [12]:
expr.head(4)

,Unnamed: 0,SNAP29,CENPP,DHX8,EFNA5,SORCS1,CTSL,CALB1,PCDHA2,PSMC3IP,...,ATF7-NPFF,ARHGEF35,LGALS7B,NECAB3,ENDOG,CCDC74A,PODNL1,SDCBP,GEN1,MORN1
0,TCGA-BH-A0DL-11,0.011039,-0.433531,0.148784,0.881892,0.397204,0.291111,0.202938,0.830075,-0.660478,...,2.107643,-0.210640,1.364119,-1.194724,-0.340685,-0.441246,0.029741,0.821344,0.556907,0.357661
1,TCGA-BH-A0BQ-11,-0.396226,-1.101919,0.125927,1.076358,1.130668,-0.994074,1.458626,0.596539,-1.280311,...,0.954723,0.630559,1.248929,-1.249310,-0.220519,-0.123971,1.129753,0.316649,0.489605,0.182808
2,TCGA-BH-A18J-11,-0.289872,-0.875374,0.084214,0.595231,-0.138605,0.214701,1.554930,-0.567784,-0.867467,...,1.975898,0.727769,1.129948,-0.634645,-0.892021,-0.807988,0.204867,0.702972,-0.128616,0.410850
3,TCGA-BH-A18R-11,-0.367729,-0.845867,-0.890999,0.537888,0.340662,-0.389748,0.073558,0.264370,-0.664225,...,0.922040,0.333581,0.341515,-0.985415,-0.816454,-0.518450,-0.521705,0.189719,-1.269150,0.043587

In [13]:
grn.head(4)

  SYMBOL_TF SYMBOL_TG
0     PARP1     BRCA2
1     PARP1     BRCA2
2       AHR    CYP1A1
3       AHR    CYP1A1

In [14]:
data=dysregnet.run(expression_data=expr,
                   meta=meta, 
                   CatCov=CatCov,
                   ConCov=ConCov,
                   GRN=grn,
                   normaltest=True,
                   R2_threshold=.2,
                   conCol='sample_type')

14162it [00:42, 332.94it/s]

In [15]:
data.get_results()

,patient id,"(PARP1, BRCA2)","(AHR, CYP1B1)","(AHR, FOS)","(AHR, SOS1)","(AHR, UGT1A6)","(AR, ABCA1)","(AR, ABCA2)","(AR, ABCF1)","(AR, ABCA4)",...,"(ZNF419, CDKN2A)","(ZNF671, CDKN2A)","(THAP7, CDKN2A)","(FOXP2, PLAUR)","(FOXP2, CNTNAP2)","(ZNF653, CDKN2A)","(E2F7, SP1)","(ZNF417, CDKN2A)","(ZNF384, CDKN2A)","(ZNF384, COL1A1)"
0,TCGA-3C-AAAU-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
1,TCGA-3C-AALI-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
2,TCGA-3C-AALJ-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
3,TCGA-3C-AALK-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
4,TCGA-4H-AAAK-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,TCGA-WT-AB44-01,6.279718,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
1094,TCGA-XX-A899-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
1095,TCGA-XX-A89A-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
1096,TCGA-Z7-A8R5-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0
1097,TCGA-Z7-A8R6-01,0.000000,0.0,0,0.0,0,0,0,0,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0